

/// MIXINS


@mixin link--color($color: white, $hcolor: $color, $percentage: 15%, $transition: color 0.15s ease){
	a {
		color: $color;
		transition: $transition;
		&:hover {
			color: darken($color,$percentage);
		}
	}
}