


/// GENERAL COLORS & SIZES


html, body {
	min-height: 100%;
}


/// BACKGROUND COLORS

.bg--primary {
	background-color: $primary-color !important;
}

.bg--secondary{
	background-color: $secondary-color;
}

.bg--success{
	background-color: $success-color;
}

.bg--warning{
	background-color: $warning-color;
}

.bg--alert{
	background-color: $alert-color;
}

.bg--white {
	background-color: white !important;
}

.bg--grey {
	background-color: #dddddd !important;
}


/// BORDERS

.border--primary {
	border: 1px solid $light-gray;
}

.border-sides--primary {
	border-left: 1px solid $light-gray;
	border-right: 1px solid $light-gray;
}

.border-ends--primary {
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
}


/// IMAGES

.u-imgfull {
	width: 100%;
	max-width: 100%;
}

.u-imgmax{
	max-width: 100%;
}


/// FORMS

textarea {
	max-width: 100%;
}


/// LINKS

@mixin link--color($color: white, $hcolor: $color, $percentage: 15%, $transition: color 0.15s ease){
	a {
		color: $color;
		transition: $transition;
		&:hover {
			color: darken($color,$percentage);
		}
	}
}

a.link--white{
	@include link--color();
}
