<% if (compassBootstrap) { %>
<div class="container">
	<div class="header soft--ends">
		<ul class="nav nav-pills pull-right">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<h3 class="text-muted"><%= appname %></h3>
	</div>

	<div class="jumbotron">
		<h1>'Allo, 'Allo!</h1>
		<p class="lead">Always a pleasure scaffolding your apps.</p>
		<p><a class="btn btn-lg btn-success" href="#">Splendid!</a></p>
	</div>

	<div class="row marketing">
		<div class="col-lg-6">
			<h4>HTML5 Boilerplate</h4>
			<p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

			<h4>Bootstrap</h4>
			<p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

			<% if (includeModernizr) { %><h4>Modernizr</h4>
			<p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>
			<% } %>

			<% if (includeRequireJS) { %><h4>RequireJS</h4>
			<p>RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node.</p>
			<% } %>

			<% if (includeAssemble) { %><h4>Assemble</h4>
			<p>Assemble is a full-featured documentation generator, static site generator and component builder. Created from the ground up as a plugin for Grunt.js.</p>
			<% } %>
		</div>
	</div>

	<div class="footer">
		<ul class="list-inline">
			<li><a href="http://twitter.com/jeremie_parker" target="_blank" title="@jeremie_parker" style="text-decoration:none;"><i class="glyphicon glyphicon-bullhorn"></i></a></li>
			<li><a href="http://github.com/p-j" target="_blank" title="@p-j" style="text-decoration:none;"><i class="glyphicon glyphicon-random"></i></a></li>
			<li><a href="mailto:yawa@jeremie-parker.com" title="yawa@jeremie-parker.com" style="text-decoration:none; color:#E54C3B;"><i class="glyphicon glyphicon-envelope"></i></a></li>
		</ul>
	</div>

</div>
<% } else if (zurbFoundation) { // compassBootstrap %>  <!--TODO: TEMPLATE-->


<div class="row soft--top">
    <div class="large-3 columns">
        <div class="panel">
            <h5>Panel Title</h5>
            <p>This is a three columns grid panel with an arbitrary height.</p>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="panel">
            <h5>Panel Title</h5>
            <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
        </div>
    </div>
    <div class="large-3  columns">
        <div class="panel">
            <h5>Panel Title</h5>
            <p>This is a three columns grid panel with an arbitrary height.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <div class="panel">
            <h5>Panel Title</h5>
            <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
        </div>
    </div>
    <div class="large-2 columns">
        <div class="panel">
            <p>
                <img src="http://placehold.it/200x200"/>
            </p>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="panel">
            <h5>Panel Title</h5>
            <p>This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <div class="panel">
            <p>
                <img src="http://placehold.it/400x300"/>
            </p>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="panel">
            <p>
                <img src="http://placehold.it/400x300"/>
            </p>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="panel">
            <p>
                <img src="http://placehold.it/400x300"/>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <div class="panel">
            <h5>Panel Title</h5>
            <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
        </div>
    </div>
    <div class="large-3 columns">
        <div class="panel">
            <h5>Panel Title</h5>
            <p>This is a three columns grid panel with an arbitrary height.</p>
        </div>
    </div>
    <div class="large-3 columns">
        <div class="panel">
            <h5>Panel Title</h5>
            <p>This is a three columns grid panel with an arbitrary height.</p>
        </div>
    </div>
</div>


<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>&copy; Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <li><a href="#">Section 1</a></li>
                    <li><a href="#">Section 2</a></li>
                    <li><a href="#">Section 3</a></li>
                    <li><a href="#">Section 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<% } else { // zurbFoundation %>
<div class="hero-unit">
	<h1>'Allo, 'Allo!</h1>
	<p>You now have</p>
	<ul>
		<li>HTML5 Boilerplate</li>
		<% if (includeModernizr) { %><li>Modernizr</li><% } %>
		<% if (includeRequireJS) { %><li>RequireJS</li><% } %>
		<% if (includeAssemble) { %><li>Assemble</li><% } %>
	</ul>
	Generator created and maintained by
	<a href="http://twitter.com/jeremie_parker" target="_blank" title="@jeremie_parker" style="text-decoration:none;" class="large inline gapped">@jeremie_parker</a>
	<a href="http://github.com/p-j" target="_blank" title="@p-j" style="text-decoration:none;" class="large inline gapped">p-j</a>
	<a href="mailto:yawa@jeremie-parker.com" title="yawa@jeremie-parker.com" style="text-decoration:none; color:#E54C3B;" class="large inline gapped"></a>
</div>
<% } // uiFrameworks %>

