<div class="container">
    <div class="soft--ends">
        <h1>Style Guide</h1>
    </div>

    <div class="soft--ends">
        <div class="color-box color-box--primary"></div>
        <div class="color-box color-box--success"></div>
        <div class="color-box color-box--info"></div>
        <div class="color-box color-box--warning"></div>
        <div class="color-box color-box--danger"></div>
    </div>

    <div class="soft--ends">
        <h1>This is an h1 heading</h1>

        <h2>This is an h2 heading</h2>

        <h3>This is an h3 heading</h3>

        <h4>This is an h4 heading</h4>

        <h5>This is an h5 heading</h5>

        <h6>This is an h6 heading</h6>

        <p>Lorem ipsum dolor sit amet, <a href="#">Consectetur</a> adipisicing elit. Aperiam asperiores eius molestiae neque
            officia omnis quae sunt tempore veritatis. Ipsam nostrum nulla quaerat tempore? Ab illo iusto non perferendis
            sed!</p>
    </div>
</div>